.home-background {
  background-image: url(/images/wine.jpg);
  background-position-y: center;
  background-size: cover;
  background-position: center;
  padding: 0;
  z-index: 1;
}

.vertical-center {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modals {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 50%;
}

.home-cards {
  background-color: rgba(255, 255, 255, 0.8);
}


.test {
  background-color: beige;
}
