.vertical-center {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* HOME SCREEN /*/
.modals {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 50%;
}

.home-dropdown {
  position: absolute;
}

.home-background {
  background: linear-gradient(180deg,rgba(195, 20, 50, 0.6), rgba(36, 11, 54, 0.6)),url(/images/wine.jpg);
  background-position-y: center;
  background-size: cover;
  background-position: center;
  padding: 0;
  z-index: 1;
}

/* Color with transparency for cards in Home */
.home-cards {
  background-color: rgba(255, 255, 255, 0.8);
}

.home-header {
position: absolute;
width: 100%;
display: flex;
height: 30%;
align-items: center;
flex-direction: column;
justify-content: center;
}

.home-header h1 {
  margin: 0 auto;
  color: white;
}

.home-header p {
  margin-top: 10px;
  color: white;
}

.home-wrap-cards {
  margin-top: 150px;
}

.buttons-wine {
  display: flex;
  justify-content: space-between;
}

.buttons-wine button {
  background: transparent;
  border-color:rgba(195, 20, 20, 1);
  color: black;
}

.buttons-wine button:focus {
  box-shadow: 0 0 0 0.2rem rgb(195, 20, 20, .5);
}

.buttons-wine button:hover {
  color: white;
  background-color: rgb(195, 20, 20);
  border-color:rgb(195, 20, 20);
}

.buttons-wine button:not(:disabled):not(.disabled):active {
  color: white;
  background-color: rgb(195, 20, 20);
  border-color:rgb(195, 20, 20);
}

.test {
  background-color: beige;
}

/* ------------ LOGIN SCREEN ------------ */

.login-background {
  background: linear-gradient(180deg,rgba(195, 20, 50, 1), #240b36 );
}

.login-text {
  color: white;
}

.login-button {
  color: white;
  border-color: white;
  background: transparent;
  margin-top: 2rem;
  width: 70%;
}

.login-button:focus {
  box-shadow: 0 0 0 0.2rem rgb(255, 255, 255, .5);
}

.login-button:hover {
  color: rgb(195, 20, 20);
  background-color: white;
  border-color:white;
}

.login-button:not(:disabled):not(.disabled):active {
  color: rgb(195, 20, 20);
  background-color: white;
  border-color:white;
}

.login-signup-text {
  color: #ffc107
}

/* ------------ SIGNUP SCREEN ------------ */

.signup-background {
  background: linear-gradient(180deg,rgba(195, 20, 50, 1), #240b36 );
}

.signup-text {
  color: white;
}

.signup-button {
  color: white;
  border-color: white;
  background: transparent;
  margin-top: 2rem;
  width: 70%;
}

.signup-button:focus {
  box-shadow: 0 0 0 0.2rem rgb(255, 255, 255, .5);
}

.signup-button:hover {
  color: rgb(195, 20, 20);
  background-color: white;
  border-color:white;
}

.signup-button:not(:disabled):not(.disabled):active {
  color: rgb(195, 20, 20);
  background-color: white;
  border-color:white;
}

.signup-login-text {
  color: #ffc107
}

/* ------------ PROFILE SCREEN ------------ */
.profile-background {
  background: linear-gradient(180deg,rgba(195, 20, 50, 1), #240b36 );

}

.profile-text {
  color: rgb(195, 20, 20);
}

.profile-header {
  position: absolute;
  width: 100%;
  display: flex;
  height: 30%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.profile-header h1 {
  margin: 0 auto;
  color: white;
}

/* ------------ EDIT PROFILE SCREEN ------------ */

.edit-background {
  background: linear-gradient(180deg,rgba(195, 20, 50, 1), #240b36 );
}

.edit-text {
  color: white;
}

.edit-button {
  color: white;
  border-color: white;
  background: transparent;
  margin-top: 2rem;
  width: 70%;
}

.edit-button:focus {
  box-shadow: 0 0 0 0.2rem rgb(255, 255, 255, .5);
}

.edit-button:hover {
  color: rgb(195, 20, 20);
  background-color: white;
  border-color:white;
}

.edit-button:not(:disabled):not(.disabled):active {
  color: rgb(195, 20, 20);
  background-color: white;
  border-color:white;
}

.edit-text {
  color: #ffc107
}

/* ERROR NOT FOUND */

.not-found {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.not-found img {
  width: 100%;
  margin: 5rem auto;
}

/* ------------ FOOD AND WINE LISTS SCREEN ------------ */

.list-background {
  background: linear-gradient(180deg,rgba(195, 20, 50, 1), #240b36 );
}

.list-cards {
  background-color: rgba(255, 255, 255, 0.7);
}

.list-text {
  color: #ffc107
}

.list-buttons {
  display: flex;
  justify-content: space-between;
}

.list-buttons button {
  background: transparent;
  border-color:rgba(195, 20, 20, 1);
  color: black;
}

.list-buttons button:focus {
  box-shadow: 0 0 0 0.2rem rgb(195, 20, 20, .5);
}

.list-buttons button:hover {
  color: white;
  background-color: rgb(195, 20, 20);
  border-color:rgb(195, 20, 20);
}

.list-buttons button:not(:disabled):not(.disabled):active {
  color: white;
  background-color: rgb(195, 20, 20);
  border-color:rgb(195, 20, 20);
}

/* ------------ LOADING MAIN SCREEN ------------ */

.main-background {
  background: linear-gradient(180deg,rgba(195, 20, 50, 1), #240b36 );
}

/* ------------ SEARCH MAIN SCREEN ------------ */

.searchitem-links {
  color: rgb(195, 20, 20);
}